body{
    background-color: rgb(65, 54, 54);
    color: #f8f8f8;
    display: flex;
    justify-content: center;
    height: 100vh;
}
.conteiner{
    padding-top: 50px;
    width: 1920px;
    max-width:800px;
}
.accordion{
    background-color: rgba(212, 99, 99, 0.575);
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    transition: 1s;
}
.accordion_tittle{
    border-bottom: 1px solid rgb(255, 255, 255);
    padding: 10px;
}
.accordion_item{
    border-bottom: 1px solid rgb(255, 255, 255);
    padding: 10px 0px;
    transition: 1s;
}
.accordion_label{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    cursor: pointer;
}
.accordion_tittle{
    font-size: 3rem;
}
.accordion_text{
    font-size: 2rem;
    color: #000000;
    transition: 1s;
}
.accordion-input{
    display: none;
    transition: 1s;
}
.box_img img{
    width: 80%;
    height: 80%;
}
.box_img{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 0px;
    transition: .5s;
}
.accordion-input:checked ~ .box_img,
.accordion_label:hover ~ .box_img,
.box_img:hover{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}
.accordion-input:checked ~ .accordion_label .accordion_text,
.accordion_item:hover .accordion_label .accordion_text{
    color: rgb(255, 255, 255);
}
.arrow{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: #000000 transparent transparent transparent;
    opacity: 0;
    transition: .5s;
}
.accordion:hover .accordion_item .accordion_label .arrow{
    opacity: 1;
}
.accordion-input:checked ~  .accordion_label .arrow,
.accordion-input:hover ~  .accordion_label .arrow{
    transform: rotate(180deg);
    border-color: #ffffff transparent transparent transparent;
}
.accordion_item:hover  .arrow{
    transform: rotate(180deg);
}
  @media screen and (min-width: 600px) and (max-width: 999px) {
    .accordion_tittle {
        font-size: 2rem;
    }
    .accordion_text {
        font-size: 1.5rem;
    }
  }
  @media screen and (max-width: 599px){
    .accordion_tittle {
        font-size: 1.5rem;
    }
    .accordion_text {
        font-size: 1rem;
    }
  }